<div id="bqz<%= id %>">
  <div class="name"><%= email %></div>
  <div class="resolved">
    <div class="resolved_count"></div>
    <div class="resolved_output"><i class="icon-download-alt"></i></div>
  </div>
  <div class="commented">
    <div class="commented_count"></div>
    <div class="commented_output"></div>
  </div>
</div>