h4, h2, h5, h6 {
  display: inline-block;
}

.resolved_count,
.assigned_count,
.commented_count {
  font-size: 50px;
}

.hidden {
  display: none;
}

img.avatar {
  width: 70px;
  max-width: 70px;
}

.assigned_more,
.assigned_hide,
.commented_more,
.commented_hide,
.resolved_more,
.resolved_hide {
  cursor: pointer;
}

div.bzq {
  position: relative;
}

div.bzq .team {
  position: absolute;
  top: 0;
  left: 16px;
  background-color: black;
}
